<!-- Hier word de header geinclude -->
<%- include('./partials/head') %>

<main id="mainContainer">
  <section class="grid__container <%= artObjects.length > 0 ? '' : 'no-results' %>">
    <% artObjects.forEach((artObject, index) => { %>
      <div class="grid__item">
        <img loading="lazy" src="https://fdnd-agency.directus.app/assets/<%= artObject.image %>" alt="<%= artObject.title %>" class="lazyload" tabindex="0">
      </div>
    <% }); %>
  </section>
  
  <!-- Load More form -->
  <% if (artObjects.length > 0) { %>
    <form class="load__more" method="GET" action="/">
      <input type="hidden" name="repeat" value="<%= repeatCount + 1 %>">
      <button type="submit">Load More</button>
    </form>
  <% } %>

  <!-- Button container -->
  <div class="button__container">
    <button class="hover-button">All objects</button>
    <button class="hover-button">Pottery</button>
    <button class="hover-button">Islamic Art</button>
    <button class="hover-button">Tapestry</button>
    <button class="hover-button">Glass</button>
  </div>

  <!-- Search bar container -->
  <section class="searchbar__container">
    <form class="search__bar">
      <input type="text" placeholder="Search the collection">
      <button class="search__button" type="submit">
        <img src="/images/search.png" alt="Search">
      </button>
    </form>
  </section>
</main>

<!-- Hier word de foot geinclude -->
<%- include('./partials/foot') %>