<!-- Hier word de header geinclude -->
<%- include('./partials/head') %>

<main id="mainContainer" <%= artObjects.length > 0 ? '' : 'no-results' %>">
  <section class="grid__container">
    <% if (artObjects.length > 0) { %>
      <% artObjects.forEach((artObject, index) => { %>
        <div class="grid__item">
          <img loading="lazy" src="https://fdnd-agency.directus.app/assets/<%= artObject.image %>" alt="<%= artObject.title %>" class="lazyload" tabindex="0">
        </div>
      <% }); %>
    <% } else { %>
      <section class="error__container">
        <img src="/images/errror.svg" alt="Two arrows indicating to try again">
        <h2>Oops, caught an error!</h2>
        <p>No results were found, please try again.</p>
        <a href="/">Try again</a>
      </section>
    <% } %>
  </section>
</main>

<!-- Hier word de foot geinclude -->
<%- include('./partials/foot') %>